<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-dropdown btn-xs" data-nodrag ng-click="toggle(this)">
      <span class="glyphicon"
            ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
      </span>
        </a>
        {{node.title}}

        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)" style="margin-right: 8px;"><span
                class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-info btn-xs" data-nodrag ng-click="getNodeData(node)"
           style="margin-right: 8px;"><span
                class="glyphicon glyphicon-edit"></span></a>
        <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
                class="glyphicon glyphicon-plus"></span></a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
        </li>
    </ol>
</script>

<style>
    .angular-ui-tree-node, .angular-ui-tree-placeholder {
        margin: 15px 0px;
    }

    .angular-ui-tree-handle {
        cursor: move;
        text-decoration: none;
        font-weight: bold;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 20px;
        line-height: 20px;
        background-color: #f5f5f5;
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        padding: 12px 12px;
    }

    a {
        color: #f6653c;
    }

    .error-message {
        background-color: #f6653c;
        border-radius: 4px;
        color: #FFF;
        padding: 12px 12px;
        margin: 10px 0;
        font-size: 12px;
    }

    .success-message {
        background-color: #5cb85c;
        border-radius: 4px;
        color: #FFF;
        padding: 12px 12px;
        margin: 10px 0;
        font-size: 12px;
    }

    .form-control:focus {
        border-color: #f6653c;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(246, 101, 60, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(246, 101, 60, 0.6);
    }

    #loader {
        display: inline;
        padding: 10px;
    }
</style>
<div class="container">


    <div class="row">
        <div class="col-sm-12">
            <h3>Teamspeak 3 Channel Creation</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div ui-tree id="tree-root" data-max-depth="5">
                <ol ui-tree-nodes="" ng-model="data">
                    <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"
                        ng-show="visible(node)"></li>
                </ol>
            </div>
        </div>

        <div class="col-sm-4" ng-hide="!currentItem">
            <div class="form-group">
                <label>Channel Name: </label>
                <input class="form-control" ng-model="currentItem.title"
                       ng-change="valiadateChannelNameLength(currentItem)">
                <div class="error-message"
                     ng-hide="currentItem.namelengtherror == '' || currentItem.namelengtherror == null"
                     ng-bind-html="currentItem.namelengtherror | to_trusted"></div>
            </div>
            <div class="form-group">
                <label>Channel Topic:</label>
                <input class="form-control" ng-model="currentItem.topic"
                       ng-change="valiadateChannelTopicLength(currentItem)">
                <div class="error-message"
                     ng-hide="currentItem.topiclengtherror == '' || currentItem.topiclengtherror == null"
                     ng-bind-html="currentItem.topiclengtherror | to_trusted"></div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <button ng-Disabled="loader" type="button"
                    style="border: 1px solid rgb(215, 215, 215); background: rgb(246, 101, 60) none repeat scroll 0% 0%; color: rgb(255, 255, 255);"
                    class="btn btn-lg" ng-click="deployChannels()">Deploy Channels
            </button>
            <div ng-show="loader" id="loader"><img src="angular/img/loader.svg">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3 ng-show="output">Console</h3>
            <div class="success-message" ng-show="output && output.status == 'success'" >
                <p ng-repeat="out in output.data track by $index">{{out.message}}</p>
            </div>
            <div class="error-message" ng-show="output && output.status == 'error'" >
                <p ng-repeat="out in output.data track by $index">{{out.message}}</p>
            </div>
        </div>
    </div>
</div>