<?php

/*-------Settings---------*/
return array(
    'ip' => '127.0.0.7',
    'user' => 'serveradmin', #avoid serveradmin
    'pass' => '',
    'queryport' => 10011,
    'port' => 9987,
    'mode' => 3, #1: send to client | 2: send to channel | 3: send to server
    'target' => 1, #serverID
    'botName' => 'ForgeTSM',
);

